@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitcount+Single:wght@100..900&family=Boldonse&family=Bungee&family=Changa+One:ital@0;1&family=Orbitron:wght@400..900&family=Phudu:wght@300..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}




.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.navcontainer {
  width: 90%;
  max-width: 1200px;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}


.logo {
  margin-left: -120px;
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 1600;
  font-style: normal;
  font-size: 40px;
  background-color: #00000000;
}

.logo span {
  color: #ff2e63;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 40px;
  font-weight: 500;
}

.navlinks li {
  cursor: pointer;
  transition: 0.3s;
}

.navlinks li:hover {
  color: #ff2e63;
}



.carimg {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  
}



.newrelease {
  padding: 60px 80px;
  background: #f4f4f4;
  color: black;
  
}

.newrelease h2 {
  margin-bottom: 30px;
  font-size: 28px;
}


.car-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.car-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  transition: 0.3s;
  cursor: pointer;
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.car-card h3 {
  margin-top: 15px;
}

.car-card p {
  color: gray;
  margin-top: 5px;
}

.car-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255, 46, 99, 0.3);
}



.container {
  padding: 40px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  
  
}
.card h3{

  color: black;
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 1400;
  font-style: normal;
}
.card p{
  color: #ff2e63;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}


#newrelease {
  scroll-margin-top: -600px;

}
/* Smooth Scroll */
html {
  scroll-behavior: smooth;
  

}
.apistatus{

  color: black;
  margin-top: 600px;
  margin-left: -190px;
   white-space: nowrap;
    font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 1600;
  font-style: normal;
  background-color: #00000000;
  
}

.footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  color: black;
  margin-top: 50px;
}

.footer-content h2 {
  margin-bottom: 10px;
   font-size: 20px;
  font-weight: bold;
  color: #ff2e63;
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 1600;
  font-style: normal;
  background-color: #00000000;
}

.footer-content h2 span{

  color: black;
}
.footer-content p {
  font-size: 14px;

}

.modeltem{

    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
